* {
	font-family: sans-serif;
}

*.inline {
	display: inline-block;
}

*.hidden {
	display: none;
}

div.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

html, body {
	height: 95%;
}

div#main {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 100%;
}

div.dayslot {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: auto 10px;
	border: 2px solid black;
	width: 100%;
	height: 100%;
}

p.dayslot-title {
	text-align: center;
}

p.period-title {
	text-align: center;
}

div.plan {
	margin: 4px;
	border: 2px solid black;
	padding: 4px;
	display: block;
	position: relative;
}

p.plan {
	text-align: center;
}

div.severity-assignment {
	background-color: lightgray;
}

div.severity-homework {
	background-color: yellow;
}

div.severity-quiz {
	background-color: coral;
}

div.severity-test {
	background-color: orangered;
}

div.severity-project {
	color: white;
	background-color: dimgray;
}

div.plan-button-list {
	position: absolute;
	display: block;
	right: 4px;
	top: 0px;
}

button.plan-button {
	opacity: 0.3;
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	font-size: 24px;
	padding: 0px;
	transition-duration: 0.25s;
}

button.plan-button:hover {
	opacity: 0.8;
}
